.home-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5DC;
  padding: 1em;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 0.5em rgba(0, 0, 0, 0.1);
  max-width: 38rem;
  height: 38rem;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.title-home {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #74442e;
  margin-top: 1em;
}

.home-logo {
  height: 40vw;
  max-height: 25rem;
}

.home-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
  width: 100%;
}

.home-button {
  width: 48%;
  font-family: 'Montserrat', sans-serif;
  --background: #74442e;
  --background-hover: #000000;
  --background-activated: #343A40;
  --background-focused: #343A40;
  
  --color: #ffffff;
  --color-hover: #e9c37a;
  
  --box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
}

.home-button2 {
  width: 48%;
  font-family: 'Montserrat', sans-serif;
  --background: #6c3e29;
  --color: #ffffff;
  --background-hover: #010101;
  --background-activated: #88f4be;
  --background-focused: #88f4be;
  --color-hover: #e9c37a;
  --box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
}
