.custom-button1 {
  height:max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.2rem;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25); /* Add a box shadow */
  color: white;
}



.toolbar-button:hover {
  --background: linear-gradient(rgba(255, 225, 0, 0.08), rgba(0, 0, 005, 0.4)), url('https://protectaqua.com/Admin/Pictures/fd4a197e-a9ee-4606-b16f-ac7725a32274Ah%C5%9Fap%20Nedir%20ve%20Neden%20Tercih%20Edilir-B.jpg');
}


.custom-toolbar1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 20vh;
  padding: 30px;
  
}

.toolbar-button {
  --background: url('https://protectaqua.com/Admin/Pictures/fd4a197e-a9ee-4606-b16f-ac7725a32274Ah%C5%9Fap%20Nedir%20ve%20Neden%20Tercih%20Edilir-B.jpg');
  --background-activated: rgba(0, 0, 0, 0.2);
  --background-focused: rgba(0, 0, 0, 0.2);
  padding-left: 15px;
}
