.video-feed {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.swiper1 {
  width: 100vw;
  height: 92.5vh;
  overflow-x: auto;
  overflow-y: hidden;
  border: none;
}

.swiper-wrapper {
  display: flex;
}

.swiper-wrapper {
  width: 100vw;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  border: none;
}

slide-content {
  height: '92.5vh';
  width: '100vw';
  display: 'flex';
}
