.video-feed {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.swiper1 {
  height: 100%;
  width: 100%;
}

.swiper-wrapper {
  display: flex;
}

.swiper-wrapper {
  width: 100vw;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  border: none;
}

slide-content {
  height: '100vh';
  width: '100vw';
  display: 'flex';
}

.swiper1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  border: none;
}

.video-author {
  margin: 0;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}

.video-player {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.rating-button-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.rating-popover-container .popover-content {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.rating-popover {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.average-rating {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
}

.rating-star {
  color: #ffc409;
}

.rating-modal-container .modal-content {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.rating-modal {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.star {
  --ionicon-stroke-width: 32px;
  opacity: 0.3;
}

.star.active {
  opacity: 1;
  color: #ffc409;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.video-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-info {
  position: absolute;
  bottom: 8%;
  left: 3%;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.video-title {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}